/ {
	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 13 0>;
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		button0: button_0 {
			gpios = <&gpio0 15 1>;
		};
	};
};

&bt {
	status = "okay";
};
